*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(238, 197, 100);
    height: 60px;
    width: 100%;
      
}
.center{
    width: 70%;
    height: 100%;
    margin: auto;
}
.flex_navbar{
    display: flex;
}
.logo h1{
    font-size: 30px;
    font-weight: bold;
}
.list_items ul{
    display: flex;
    list-style: none;
    margin-left: 100px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.list_items ul li{
    margin-right: 10px;
}
.list_items ul li a{
padding-right: 10px;
line-height: 45px;
text-decoration: none;
color: black;
}

#navbar1{
    display: none;
}


.list ul{
    display: flex;
    list-style: none;
    margin-left: 40px;
    
}
.list ul li{
      margin-left: 30px;
}
.list{
    height: 40px;
    width: auto;
}
.list ul li a{
    color: black;
    text-decoration: none;
   line-height: 60px;

}
.image1{
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    
}
.img {
    height: 500px;
    width: 100%;
    position: absolute;
}
.img img{
    height: 500px;
    width: 100%;
    position: absolute;
}

.content{
    position: relative;
    height: 500px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}
.content h1{
    color: white;
    font-size: 70px;
    padding-top: 100px;
    padding-left: 20px;
}
.content h1 span{
    color: rgb(235, 161, 23);
}
.content p{
    padding-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 400;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.content .btn{
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(235, 161, 23);
    padding: 10px 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 2px 2px white;
}
.content .btn:hover{
    background-color: white;
    color: black;
}
.second{
    background-color: rgb(27, 25, 25);
    height: 650px;
    width: 100%;
}
.div_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.div_grid .left{
    height: 400px;
    width: 70%;
    background-color: bisque;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 20px 22px rgb(238, 212, 97);
}
.right{
    margin: auto;
    height: 650px;
    width: 100%;
    margin-bottom: 100px;
}
.lets{
    height: 400px;
    width: 70%;
    margin: auto;
    margin-top: 100px; 
    margin-bottom: 100px;
}
.lets h2{
    color: white;
    font-size: 35px;
    padding-top: 30px;
}
.lets p{
    color: grey;
    font-size: 18px;
    padding-top: 50px;
}
.sub{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 60px;
}
.sub h1{
    color: white;
    font-size: 30px;
}
.sub h3{
    color: grey;
    font-size: 20px;
    padding-top: 20px;
}

.what{
    height: 200px;
    width: 80%;
    margin: auto;
    background-color: bisque;
}
.can{
    height: 150px;
    width: 60%;
    margin: auto;
    
    
    
}
.can h1{
    color: rgb(4, 4, 4);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
}
.can p{
    font-size: 17px;
    padding: 10px;
    color: black;
    text-align: center;
}
.port{
    height: auto;
    width: 100%;
}
.port1{
    height: auto;
    width: 80%;
    background-color: bisque;
    margin: auto;
    margin-bottom: 100px;
    
}
.port2{
    height: auto;
    padding: 20px;
    width: 100%;
    background-color: rgb(253, 253, 253);
}
.pgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lmg{
    height: 300px;
    width: 70%;
    margin: auto;
    background-color: antiquewhite;
    margin-top: 50px;

}
.lmg img{
    height: 100%;
    width: 100%;
    box-shadow: 13px 13px 13px black;
}
.rcon{
    height: 300px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
   
}
.rcon h1{
    padding-top: 50px;
    font-size: 30px;
}

.rcon p{
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}
.port101{
    display: none;
}
@media only screen and (max-width: 700px){
    .image1{
        width: 100%;
        height: 500px;
        background-color: antiquewhite;
        
    }
    .img {
        height: 500px;
        width: 100%;
    }
    .img img{
        height: 100%;
        width: 100%;
        position: absolute;
    }
    
    .content{
        position: relative;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.8;
    }
    .content h1{
        color: white;
        font-size: 40px;
        padding-top: 40px;
        padding-left: 10px;
    }
    .content h1 span{
        color: rgb(235, 161, 23);
    }
    .content p{
        padding-top: 20px;
        font-size: 17px;
        padding-left: 10px;
        font-weight: 400;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    .content .btn{
        margin-top: 20px;
        margin-left: 10px;
        background-color: rgb(235, 161, 23);
        padding: 10px 25px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 20px;
        box-shadow: 2px 2px white;
    }
    .content .btn:hover{
        background-color: white;
        color: black;
    }
    




.second{
    background-color: rgb(27, 25, 25);
    height: 750px;
    width: 100%;
}
.div_grid{
    display: block;
    padding-top: 50px;
}
.div_grid .left{
    
    height: 250px;
    width: 90%;
    background-color: bisque;
    margin: auto;
    box-shadow: 5px 5px 10px 10px rgb(238, 212, 97);
}
.div_grid .left img{
    height: 250px;
    width: 100%;
}
.right{
    margin: auto;
    height: 400px;
    width: 100%;
    
}
.lets{
    height: 300px;
    width: 90%;
    margin: auto;
    
}
.lets h2{
    color: white;
    font-size: 25px;
    padding-top: 25px;
}
.lets p{
    color: grey;
    font-size: 16px;
    padding-top: 30px;
}
.sub{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
}
.sub h1{
    color: white;
    font-size: 30px;
}
.sub h3{
    color: grey;
    font-size: 20px;
    padding-top: 20px;
}
nav{
    display: none;
}
#navbar1{
    display: inline;
    height: 60px;
    width: 100%;
}

#text{
    height: 200px;
    width: 100%;
    background-color: rgb(251, 220, 192);
}
#text ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}
#text ul{
    text-align: center;
    list-style: none;
}
#text ul li{
    padding-top: 20px;
}
.hide1{
    height: 60px;
    width: 100%;
    background-color: rgb(238, 212, 97);
}
.hide1 .hide{
    height: 40px;
    width: 40px;
    background-color: white;
    margin-top: 8px;
    margin-left: 10px;
    position: absolute;
    border-radius: 50%; 
    text-align: center;
    line-height: 40px;   
    font-size: 20px;
    cursor: pointer;
}
.own{
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin-right: 20px;
    line-height: 60px;
}




.pppp{
    display: none;
}





.port{
    display: none;
    
}
.port101{
    display: block;
    height: auto;
    width: 100%;
    padding-top: 50px;
    
}
.port11{
    height: auto;
    width: 80%;
    background-color: bisque;
    margin: auto;
    
    
}
.port21{
    height: auto;
    padding: 0px;
    width: 100%;
    background-color: rgb(253, 253, 253);
}
.pgrid1{
    display: inline;
    
}
.lmg1{
    height: 300px;
    width: 100%;
    margin: auto;
    background-color: antiquewhite;
    

}
.lmg1 img{
    height: 100%;
    width: 100%;
    box-shadow: 13px 13px 13px black;
}
.rcon1{
    height: 250px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
   
}
.rcon1 h1{
    padding-top: 0px;
    font-size: 25px;
}

.rcon1 p{
    padding-top: 10px;
    font-size:18px;
    font-weight: bold;
    color: grey;
}
.footer{
    display: none;
}
.footer1{
    display: block;
    background-color: rgba(200, 143, 28, 0.7);
    height: 200px;
    width: 100%;
}
.social1{
    width: 80%;
    height: 200px;
    margin: auto;
    text-align: center;
}
.media1{
    padding-top: 20px;

}
.media1 a{
    font-size: 20px;
    color: black;
    padding-right: 20px;
}
.link1{
    padding-top: 20px;
    

}
.link1 ul li{
    list-style: none;
}
.link1 ul li a{
    padding-right: 20px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
}

}


.foot{
    height: 200px;
    width: 100%;
    background-color: rgba(200, 143, 28, 0.7);
}
.social{
    width: 40%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.link{
    padding-top: 25px;
}
.link ul{
    list-style: none;
    text-decoration: none;
}
.link ul li a{
    text-decoration: none;
    color: black;
    padding-right: 30px;
    
}
.media a{
    color: black;
    font-size: 25px;
    padding-right: 30px;
    
}
.copy{
    padding-top: 15px;
}
.footer1{
    display: none;
}